# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Airflow
logs/
*.db
*.sqlite

# Docker
*.env

# MinIO y datos generados
minio-data/

# Checkpoints de Spark/Databricks
*.checkpoint
*.meta
*.snap
*.part*
